<template>
  <v-row class="navbar ml-5 text-center mx-10">
    <v-col class="navbar__logo" cols="12" sm="12" md="1"><strong>Your Logo</strong></v-col>
    <v-row class="justify-end align-center">
      <v-col cols="12" sm="12" md="1"><strong>Home</strong></v-col>
      <v-col cols="12" sm="12" md="1"><strong>About</strong></v-col>
      <v-col cols="12" sm="12" md="1"><strong>Servicing</strong></v-col>
      <v-col cols="12" sm="12" md="1" class="ml-3"><strong>Portfolio</strong></v-col>
      <v-col cols="12" sm="12" md="1"><strong>Blog</strong></v-col>
      <v-col cols="12" sm="12" md="2" class="navbar__contact"><strong>Contact us</strong></v-col>
      <v-col cols="12" sm="12" md="1" class="navbar__search">
        <strong>
          <v-img :src="require('/src/assets/search.png')" height="20" width="20" alt="search"/>
        </strong>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Navbar"
}
</script>

<style scoped lang="scss">
@media (max-width: 959px) {
  .navbar {
    &__logo {
      margin-bottom: 30px;
    }
    &__search {
      display: flex;
      justify-content: center;
      margin-bottom: 3%;
    }
    &__contact {
      text-align: center !important;
    }
  }
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;

  & strong {
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }

  &__contact {
    text-align: start;
  }

  &__search {
    padding: 0 !important;
  }
}
</style>