<template>
  <v-app class="pa-0 ma-0">
    <v-main class="pa-0 ma-0">
      <navbar/>
      <div class="main"
           data-aos="fade-up"
           data-aos-anchor-placement="top-bottom">
        <div class="main__background">
          <img class="main__background-img" src='../src/assets/computer5.png' width="100%" height="100%" alt="image">
          <div class="saver">
            <v-row class="saver__mainText"><strong>Web development project</strong></v-row>
            <v-row class="saver__subText px-5 text-center">Very suitable to support all web development projects</v-row>
            <v-row class="saver__click">
              <v-col cols="12" sm="12" md="4" class="saver__click-btn"><strong>OUR SERVICES</strong></v-col>
              <v-col cols="12" sm="12" md="4" class="saver__click-btn"><strong>HIRE IS NOW</strong></v-col>
            </v-row>
          </div>
        </div>
      </div>

      <div class="about">
        <p><strong>About Us</strong></p>
        <p class="about__subText mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed orem ipsum dolor
          sit amet, consectetur adipisicing elit, sed d orem ipsum dolor sit amet, consectetur adipisicing elit, sed
          d</p>
      </div>

      <v-row class="details"
             data-aos="fade-down"
             data-aos-easing="linear"
             data-aos-duration="1500">
        <v-col class="details__col1" cols="12" sm="12" md="3">
          <p><img src="../src/assets/about/internet.svg" alt="icon" width="50"/></p>
          <strong>Awesome Icons</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
        </v-col>
        <v-col class="details__col2" cols="12" sm="12" md="3">
          <p><img src="../src/assets/about/transfer.svg" alt="icon" width="50"/></p>
          <strong>One Page</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
        </v-col>
        <v-col class="details__col3" cols="12" sm="12" md="3">
          <p><img src="../src/assets/about/head.svg" alt="icon" width="50"/></p>
          <strong>Full Responsive</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
        </v-col>
      </v-row>


      <div class="service__background mt-16">
        <v-row class="service d-block mb-16">
          <div><strong>Our Services</strong></div>
          <div class="service__text mt-6 text-center mx-auto">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam
          </div>
        </v-row>

        <v-row class="service__content mx-0" data-aos="zoom-in">
          <v-col class="service__content__block" cols="12" sm="12" md="3" v-for="service in services" :key="service.id">
            <div class="service__content__block-logo text-center mt-10"><img src="../src/assets/smartphone.svg"
                                                                             width="80" height="80" alt="logo"/></div>
            <div class="service__content__block-mainText mt-6">{{ service.mainText }}</div>
            <div class="service__content__block-subText mt-4 mx-10 text-center">At vero eos et accusamus et iusto odio
              dignissimos ducimus qui blanditils praesentium voluptatum iti
              atque corrupti quos.
            </div>
            <div class="service__content__block-btn1 d-flex justify-center">
              <div class="service__content__block-btn mt-10">READ MORE</div>
            </div>
          </v-col>
        </v-row>
      </div>


      <div class="latestWorks text-center mb-16">
        <div class="mt-16">
          <strong class="latestWorks__mainText">Latest Works</strong>
          <p class="latestWorks__subText mx-auto mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            to eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <v-row class="latestWorks__category d-flex justify-center mt-16 mx-0">
          <v-col
              @click="selectWorkCategory='ALL'"
              class="latestWorks__category-btn"
              cols="1"
          >
            <strong>ALL</strong>
          </v-col>

          <v-col
              @click="selectWorkCategory='WEB DESIGN'"
              class="latestWorks__category-btn"
              cols="2"
          >
            <strong>WEB DESIGN</strong>
          </v-col>

          <v-col
              @click="selectWorkCategory='UI/UX DESIGN'"
              class="latestWorks__category-btn"
              cols="2"
          >
            <strong>UI/UX DESIGN</strong>
          </v-col>

          <v-col
              @click="selectWorkCategory='MOCKUP'"
              class="latestWorks__category-btn"
              cols="2"
          >
            <strong>MOCKUPS</strong>
          </v-col>
        </v-row>

        <v-row class="d-flex justify-center mx-5">
          <v-col
              v-for="item in worksCategory"
              :key="item.id"
              class="latestWorks__column mt-16 wrap"
              cols="12"
              sm="12"
              md="4"
              data-aos="fade-up"
              data-aos-duration="3000"
          >
            <div class="latestWorks__column__info">
              <div class="latestWorks__column__info-img d-flex justify-center">
                <div>
                  {{ item.name }}
                  <p>
                    {{ item.category }}
                  </p>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </div>

      <v-row class="blog ma-0">
        <div class="blog__main mx-auto text-center mt-16">
          <div class="blog__main-text"><strong>Blog</strong></div>
          <div class="blog__main-subText mt-4 px-5">Dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
          </div>
        </div>

        <v-row class="mx-16 mt-16">
          <v-row
              data-aos="fade-up">
            <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="blog__image">
              <img
                  class="blog__image-img"
                  src="../src/assets/blog/seo1.png"
                  alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
            </v-col>

            <v-col class="mt-10" cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
              <p class="blog__headText">SEO Quis Vestibulum</p>
              <img class="mr-2" src="../src/assets/blog/dateIcon.png" alt="date_logo"/>
              <strong>14.07.2017</strong>
              <img class="ml-12" src="../src/assets/blog/fileLogo.png" alt="file_logo"/>
              <strong class="ml-2">Development</strong>
              <p class="mt-4">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
            </v-col>
          </v-row>

          <v-row class="mt-16"
                 data-aos="fade-up">
            <v-col class="mt-10" cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
              <p class="blog__headText">SEO Quis Vestibulum</p>
              <img class="mr-2" src="../src/assets/blog/dateIcon.png" alt="date_logo"/>
              <strong>14.07.2017</strong>
              <img class="ml-12" src="../src/assets/blog/fileLogo.png" alt="file_logo"/>
              <strong class="ml-2">Development</strong>
              <p class="mt-4">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="blog__image">
              <img
                  class="blog__image-img2"
                  src="../src/assets/blog/apple-desk-working.png"
                  alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
            </v-col>
          </v-row>

          <v-row class="mt-16"
                 data-aos="fade-up">
            <v-col cols="12" xs="12" sm="12" md="7" lg="7" xl="7" class="blog__image">
              <img
                  class="blog__image-img"
                  src="../src/assets/blog/imac-apple-mockup-app-38544.png"
                  alt="Cursor choosing one of 6 different Trello board views." loading="lazy">
            </v-col>

            <v-col class="mt-10" cols="12" xs="12" sm="12" md="5" lg="5" xl="5">
              <p class="blog__headText">SEO Quis Vestibulum</p>
              <img class="mr-2" src="../src/assets/blog/dateIcon.png" alt="date_logo"/>
              <strong>14.07.2017</strong>
              <img class="ml-12" src="../src/assets/blog/fileLogo.png" alt="file_logo"/>
              <strong class="ml-2">Development</strong>
              <p class="mt-4">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
            </v-col>
          </v-row>
          <div class="blog__viewMore mx-auto my-16"><strong>VIEW MORE</strong></div>
        </v-row>
      </v-row>

      <div class="contact ma-0 text-center"
           data-aos="fade-up">
        <div class="contact__block">
          <div class="contact__background">
            <img class="contact__background-img" src="../src/assets/contact.png" width="100%" height="100%"/>
            <div class="contact__text"><strong>Contact Us</strong></div>
            <div class="contact__subText mx-auto mt-4 pa-10">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit,
              sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </div>

            <v-row class="contact__info justify-center" data-aos="zoom-in">
              <v-col cols="12" sm="12" md="3">
                <img src="../src/assets/contact_Us/placeholder.svg"/>
                <div>Nobinagar savar, Dhaka<p>Bangladesh</p></div>
              </v-col>

              <v-col cols="12" sm="12" md="3">
                <img src="../src/assets/contact_Us/phone-call.svg"/>
                <div>
                  +8801743331996
                  <p>+8801928737807</p>
                </div>
              </v-col>
              <v-col cols="12" sm="12" md="3">
                <img src="../src/assets/contact_Us/mail.svg"/>
                <div>
                  quickmasud@gmail.com
                  <p>quickmasud@yahoo.com</p>
                </div>
              </v-col>
            </v-row>

            <div class="contact__form ma-0"
                 data-aos="fade-up"
                 data-aos-duration="3000">
              <v-row class="mx-0 mt-16 d-flex justify-center">
                <v-col cols="12" sm="12" md="4"><input type="text" placeholder="Your NAME"></v-col>
                <v-col cols="12" sm="12" md="4"><input type="email" placeholder="Your Email"></v-col>
              </v-row>
              <v-row class="contact__form-row d-flex">
                <v-col cols="12" class="mx-auto">
                  <textarea rows="4" type="text" placeholder="Write Message"/>
                </v-col>
                <v-col cols="12" class="contact__form-btn mb-4"><strong>SEND</strong></v-col>
              </v-row>
            </div>
          </div>
        </div>
      </div>
      <div class="footer d-flex align-center justify-center mt-3"><strong>All rights Reserved © 2022</strong></div>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar';
import AOS from 'aos'
import 'aos/dist/aos.css'

export default {
  name: 'App',

  components: {
    Navbar,
  },

  mounted() {
    AOS.init();
  },

  data: () => ({
    services: [
      {
        'id': 1,
        'mainText': 'Research',
        'subText': 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditils praesentium voluptatum iti atque corrupti quos.'
      },
      {
        'id': 2,
        'mainText': 'Portfolio',
        'subText': 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditils praesentium voluptatum iti atque corrupti quos.'
      },
      {
        'id': 3,
        'mainText': 'Support',
        'subText': 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditils praesentium voluptatum iti atque corrupti quos.'
      },
      {
        'id': 4,
        'mainText': 'Documentation',
        'subText': 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditils praesentium voluptatum iti atque corrupti quos.'
      },
      {
        'id': 5,
        'mainText': 'Development',
        'subText': 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditils praesentium voluptatum iti atque corrupti quos.'
      },
      {
        'id': 6,
        'mainText': 'Design',
        'subText': 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditils praesentium voluptatum iti atque corrupti quos.'
      }
    ],

    works: [
      {
        'id': 1,
        'name': 'Hand Watch',
        'category': 'WEB DESIGN',
        'image': '../src/assets/latest_Works/img1.png'
      },
      {
        'id': 2,
        'name': 'Hand Watch',
        'category': 'UI/UX DESIGN',
        'image': '../src/assets/latest_Works/img1.png'
      },
      {
        'id': 3,
        'name': 'Hand Watch',
        'category': 'MOCKUP',
        'image': '../src/assets/latest_Works/img1.png'
      },
      {
        'id': 4,
        'name': 'Hand Watch',
        'category': 'MOCKUP',
        'image': '../src/assets/latest_Works/img1.png'
      },
      {
        'id': 5,
        'name': 'Hand Watch',
        'category': 'MOCKUP',
        'image': '../src/assets/latest_Works/img1.png'
      },
      {
        'id': 6,
        'name': 'Hand Watch',
        'category': 'MOCKUP',
        'image': '../src/assets/latest_Works/img1.png'
      },
    ],
    selectWorkCategory: 'ALL',
  }),

  computed: {
    worksCategory() {
      if (this.selectWorkCategory === 'ALL') return this.works;
      return this.works.filter(el => el.category === this.selectWorkCategory);
    }
  }
};
</script>

<style lang="scss">
$blue-color: #00897b;
@media (max-width: 1500px) {
  body {
    width: 100% !important;
    background-color: white !important;
  }
}

@media (max-width: 1240px) {
  .contact__form {
    &-btn, input, textarea {
      color: white !important;
      background-color: black !important;
    }
  }
}

@media (max-width: 1101px) {
  .service__content__block {
    padding-bottom: 500px !important;
  }
}

@media (max-width: 959px) {
  .saver__click {
    margin-top: 10% !important;

    &-btn:first-child {
      margin-bottom: 20px;
    }
  }

  .service__content__block {
    margin-left: unset !important;
  }

  .saver__click {
    &-btn {
      margin-top: 10px !important;
      min-width: unset !important;
      width: 80px;
    }
  }

  .contact {
    &__form {
      & input {
        width: 66% !important;
      }

      &-btn {
        margin-left: unset !important;
      }

      &-row {
        justify-content: center;
      }
    }
  }

  .latestWorks__category {
    flex-direction: column;
    align-items: center;

    &-btn {
      margin-bottom: 20px;
    }
  }

  .blog__image {
    display: flex;
    justify-content: center;

    &-img {
      align-items: center !important;
      float: none !important;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .latestWorks__column__info {
    width: 50%;
  }
}

@media (max-width: 734px) {
  .latestWorks__column__info-img {
    min-height: 200px !important;
  }

  .saver__mainText {
    font-size: 30px !important;
  }
  .saver__click {
    margin-top: 10% !important;
  }

  .main {
    min-height: 500px;

    &__photo {
      display: none;
    }

    &__background {
      min-height: 500px !important;
    }
  }
}

body {
  background-image: url("../src/assets/bck.jpg");
  background-size: cover;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 73.5%;
}

.main {
  position: relative;
  background-color: #00897b;

  &__background {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    min-height: 700px;

    &-img {
      position: absolute;
      object-fit: cover;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.saver {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  &__mainText {
    margin-top: 10%;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
  }

  &__subText {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__click {

    &-btn {
      border: 3px solid white;
      display: flex;
      justify-content: center;
      min-width: 200px;
      margin-top: 100px;
      margin-left: 20px;
      cursor: pointer;
      align-items: center;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 700;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.about {

  margin-top: 10%;
  text-align: center;

  &__subText {
    max-width: 700px;
  }

  & p:first-child {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 700;
    font-family: "Open Sans", serif;
  }

  & p:last-child {
    font-family: "Open Sans", serif;
    font-size: 15px;
  }
}

.details {
  text-align: center;
  margin-top: 10%;
  justify-content: space-around;
}

.service {
  text-align: center;
  margin: 10% 0 0;
  padding-top: 10%;

  &__text {
    max-width: 700px;
  }

  &__background {
    min-height: 1400px;
    background-color: #e4fdf9;
  }

  &__content {
    display: flex;
    justify-content: center;

    &__block {
      height: 435px;
      background-color: white;
      margin-left: 30px;
      margin-bottom: 30px;
      padding: 0 0 10px;
      display: flex;
      flex-direction: column;

      &-mainText {
        font-size: 20px;
        letter-spacing: 1px;
        color: black;
        font-weight: 600;
        font-family: "Open Sans", serif;
        text-align: center;
      }

      &-subText {
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 25px;
        font-weight: 400;
        font-family: "Open Sans", serif;
        text-align: center;
      }

      &-btn {
        border: 3px solid black;
        max-width: 180px;
        display: flex;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 22px;
        font-family: "Open Sans", serif;
      }
    }

    &__block:hover {
      background-color: $blue-color;
    }
  }


  & strong {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Open Sans", serif;
    text-align: center;
  }

  & p {
    font-family: "Open Sans", serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
  }
}

.latestWorks {
  &__column {
    position: relative;
    align-content: center;
    text-align: center;
  }

  &__mainText {
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Open Sans", serif;
  }

  &__subText {
    max-width: 700px;
  }

  &__category {
    &-btn {
      min-width: 140px;
      border: 3px solid $blue-color;
      padding: 5px 20px;
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 700;
      font-family: "Roboto", serif;
      margin-left: 20px;

      &:hover {
        background-color: $blue-color;
      }
    }
  }

  &__column__info {
    background-color: black;
    margin-left: auto;
    margin-right: auto;

    &-img {
      opacity: 1;
      min-height: 368px;
      background-image: url("../src/assets/latest_Works/watch.png");
      background-size: contain;
      font-size: 25px;
      letter-spacing: 2px;
      font-weight: 700;
      font-family: "Open Sans", serif;
      text-align: center;
      color: white;
      cursor: pointer;

      &:hover {
        opacity: 0.3;
        border: 10px solid black;
      }
    }
  }
}

.blog {
  background-color: #e4fdf9;

  &__main {
    &-text {
      font-size: 30px;
      letter-spacing: 2px;
      line-height: 22px;
      color: #212121;
      font-weight: 700;
      font-family: "Open Sans", serif;
      text-align: center;
    }

    &-subText {
      height: 52px;
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 22px;
      color: #212121;
      font-weight: 400;
      font-family: "Open Sans", serif;
      text-align: center;
      max-width: 700px;
    }
  }

  &__image {
    &-img {
      max-width: 80%;
      float: left;
    }

    &-img2 {
      float: right;
      max-width: 80%;
    }
  }

  &__headText {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Open Sans", serif;
    cursor: pointer;

    &:hover {
      color: $blue-color;
    }
  }

  &__viewMore {
    background-color: $blue-color;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Roboto", serif;
    color: white;

    &:hover {
      color: black;
    }
  }
}

.contact {
  color: white;

  &__block {
    position: relative;
  }

  &__background {
    position: relative;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100%;

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0.1;
      z-index: -1;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Open Sans", serif;
    padding-top: 4%;
  }

  &__subText {
    max-width: 1000px;
  }

  &__info {
    margin-top: 5%
  }

  &__form {

    & input {
      background-color: white;
      padding: 15px 20px;
      border-radius: 10px;
      width: 100%;
    }

    & textarea {
      background-color: white;
      width: 65%;
      border-radius: 10px;
      padding: 15px 20px;
      resize: none;
    }

    &-btn {
      background-color: white;
      max-width: 10%;
      min-width: 100px;
      padding: 15px 30px;
      color: black;
      border-radius: 10px;
      cursor: pointer;
      float: right;
      margin-left: 72%;

      &:hover {
        background-color: gray;
      }
    }
  }
}

.footer {
  min-height: 60px;
  background-color: green;
}
</style>